<nav-login-bar></nav-login-bar>

<div class="col-md-4 col-xs-2 col-sm-4"></div>
<form class="form-inline" class="row col-md-4 col-xs-8  col-sm-4" [ngFormModel]="SigninForm" style="margin-top:3%;" (ngSubmit)="onSubmit()
" novalidate>
  <h2>Sign in</h2>
<div class="form-group">
  <input type="email" class="form-control"  [ngFormControl]="email" placeholder="example@example.com">
</div>
<div class="form-group">
  <input type="password"  class="form-control" [ngFormControl]="password" placeholder="Password">
</div>
<button type="submit" class="btn btn-success">Sign in</button>
<h5>{{error}}</h5>
</form>
<div class="col-md-4 col-xs-2 col-sm-4"></div>
