<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Saleman App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav span6 pull-right">
        <li role="presentation" *ngIf="!token"><a href="" [routerLink]="['Signin']">Signin</a></li>
        <li role="presentation" *ngIf="!token"><a href="" [routerLink]="['Signup']">Signup</a></li>
        <li role="presentation" *ngIf="token"><a href="" [routerLink]="['Product']">Product</a></li>
        <li role="presentation" *ngIf="token"><a href="" [routerLink]="['SalemanForm']">Add saleman</a></li>
        <li role="presentation" *ngIf="token"><a href="" [routerLink]="['ViewSaleman']">View saleman</a></li>
        <li role="presentation" *ngIf="token"><a href="" (click)="logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <router-outlet></router-outlet>
