<nav class="navbar navbar-default">

    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseNavbar">
        &#9776;
    </button>
<div class="collapse navbar-toggleable-xs" id="collapseNavbar">
    <div class="navbar-header">
      <a class="navbar-brand">Saleman App</a>
    </div>
    <div class="col-md-5 col-xs-2 col-sm-4">

    </div>
    <ul class="nav nav-tabs">
          <li class="nav-item pull-right" >
            <a class="nav-link" href="" [routerLink]="['ViewProduct']">View Product</a>
          </li>
          <li class="nav-item pull-right" >
            <a class="nav-link" href="" [routerLink]="['Product']">Product</a>
          </li>
          <li class="nav-item pull-right" >
            <a class="nav-link" href="" [routerLink]="['SalemanForm']">Add Saleman</a>
          </li>
          <li class="nav-item pull-right" >
            <a class="nav-link" href="" [routerLink]="['ViewSaleman']">View Saleman</a>
          </li>
          <li class="nav-item pull-right" >
            <a class="nav-link"  href="" (click)="logout()">Logout</a>
          </li>
    </ul>
</div>

</nav>
