<nav-tool-bar></nav-tool-bar>
<div class="container" >
   <div class="row">
      <br />
      <div class="col-md-4" *ngFor="#S of saleman">
         <div class="card" style="max-width:319px;background-color: #F8F8F8" >
            <div class="card-header" style="background-color:#F8F8F8;font-size:1.5em;text-align:center">
             {{S.username}}
            </div>
            <img src="http://placekitten.com/500/200" style="width:100%; height:200px;"class="card-img-top" alt="Saleman Image"/>
            <div class="card-block">
                <h5 class="card-title">Email: {{S.email}}</h5>
               <h5 class="card-title">joined-date: {{joinedDate(S.createdOn) | date}}</h5>
               <a href="http://www.google.com" >View Details</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <div class="col-sm-2 col-md-12 col-xs-12 col-lg-12 col-xl-12">


<div class="card-columns">
    <div class="card-group">
        <div class="card" style="max-width:300px;background-color: #F8F8F8" *ngFor="#S of saleman">
            <!-- <img class="card-img-top img-rounded" src="http://placekitten.com/500/304" > -->
            <!-- <div class="text-center">
         <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRs2OZvMT1qhdasTJ0mW7aRKsPz6OOg-4NjCmpugoBC9q7C4NXc" class="img-circle" alt="Photo of bird in the Philippines">
         </div>
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
</div> -->
